
.paper
	aspect = 1.395555555
	cardHeight = 20vh
	cardWidth = cardHeight / aspect

	img:not([src])
		opacity 0

	& input
	& textarea
	& button
		background-color $black
		border 2px solid $grey
		border-radius 7.5px
		text-align center

		color $lightgrey
		font-size 15px

		height 300px
		width 500px

		padding 3px

		transition color .2s, border .2s

		&.wrong
			border-color: $red

	& button
		cursor pointer

		font-size 17.5px

		&:hover
			color $white
			border-color $lightgrey

	& .chooseDeck
		display flex
		flex-direction column

		span
			color $white
			text-align center
			display block

			&:before
				content "Game with: "

		& button
			width 100%
			height 30px

			border-radius 0px 0px 10px 10px
			border-top-width 0px

		& textarea
			border-radius 10px 10px 0px 0px
			text-align left

	.badge
		display flex
		flex-direction column
		align-items center
		justify-content center

		width 40px
		height 40px

		border 2px solid $grey
		border-radius 40px

		color $grey
		font-size 25px

		overflow hidden

		background-color $black

		&.number
			transition height .2s, bottom .2s, opacity .2s

			input
				width 40px
				height 25px

				flex 0 0 auto

				color inherit
				font-size inherit

				border none

			.a
				cursor pointer

			&.hoverIntent
				height 100px
				z-index 2


	.game
		width 100vw
		height 100vh

		display flex

		.log
			border-left 5px solid $grey
			width 20px
			height 100vh

			flex 0 0 auto

			overflow hidden

			transition width .5s

			*
				prefix user-select text

			> div
				width calc(25em - 20px)
				height 100vh

				background $black

				padding-left 20px

				display flex
				flex-direction column
				justify-content flex-start

				overflow hidden auto

				*
					color $white
					transition color .2s

					&.highlight
						color white

				&:after
					content ""
					height 100px
					flex 0 0 auto

			.them
				opacity .5

			&.hoverIntent
			&.rightClicked
			&.pinned
				width 25em

		.supps
			width cardWidth*2
			flex 0 0 auto

			display flex
			flex-direction column

			> div
				flex 1 0

				display flex
				flex-direction column

				.supp
					flex-grow 1

				.user
					height cardHeight

					display flex
					flex-direction column
					align-items center
					justify-content center

					&.inactive > *
						opacity .5

					.avatarGroup
						position relative

						display flex
						justify-content center

						width 178px
						max-width cardWidth

						.gold
						.health
							position absolute
							bottom 0px

						.health
							right 0px

							border-color $green
							color $green

							&.hoverIntent
								bottom -30px

						.gold
							flex-direction row

							cursor pointer

							left 0px

							border-color $yellow
							color $yellow

							transition border-color .2s, color .2s

							&[data-g="0"]
								border-color $grey
								color $grey

							&:before
								content attr(data-g)

							&:after
								content attr(data-f)
								font-size 20px
								margin-left -2px


						.avatar
							border-radius 100%
							width 128px
							height 128px

					.username
						color $white

		.main
			flex 1 1 0

			display flex
			flex-direction column

			.hand
				flex 0 0 auto

				height cardHeight

			.play
				flex 1 0

				& .card
				&.o .card.battle
					align-self flex-end

				&.o .card
				& .card.battle
					align-self flex-start



		.right
			width 2*cardWidth

			display flex
			flex-direction column

			.dd
				display flex

				min-height cardHeight
				max-height cardHeight

				flex 0 0

				> div
					position relative

					width cardWidth
					flex 0 0 auto

				.deck
					img
						position absolute
						left 0
						z-index 4

					> *
						z-index 5
					z-index 0

				.disc
					position absolute
					right 0

					width cardWidth
					height s("calc(%s - 1px)", cardHeight)

					&.p
						bottom 0
					&.o
						top 0

					border 0px solid $grey

					transition height .5s, width .5s, border-width .2s, z-index .3s
						
					z-index 10

					&.hoverIntent
					&.rightClicked
					&.childRightClicked
						&:not(.n0)
							height 100vh
							width (100vh/aspect)
	
							z-index 11
	
							border-left-width 2px
	
							&.o
								border-bottom-width 2px
							&.p
								border-top-width 2px

				div.deck
					position relative
					display flex
					flex-direction column
					align-items center

					img.deck
						max-height 100%

					font-size 16pt
					$v = 1ex
					$h = 1em
					.cardCount
						color $lightgrey
						position absolute
						&.countDeck
							margin-top $v
						&.countHand
							left 0
							margin-left $h
						&.countDisc
							right 0
							margin-right $h
						&.countHand
						&.countDisc
							top 50%
							transform translate( 0%, -50% )

			.il
				flex 1 0 auto

				display flex
				flex-direction row
				justify-content flex-start

				.i
					display flex
					flex-direction column

					width 50%
					justify-content space-between

					> .o
					> .p
						flex 1 0 auto

						display flex
						flex-direction column
						justify-content space-between
						align-items center

						&.o
							padding-top 3ex
						&.p
							padding-bottom 3ex

					.initiative
						width 6em
						height ( @width / 2 )
						overflow hidden

						$borderRadius = @width/2
						border-top-left-radius $borderRadius
						border-top-right-radius $borderRadius
						border 3px solid $grey

						&.on
							background $grey

						&.hideInitiative
							pointer-events none
							opacity 0
						&.p
							transform rotate(180deg)
							&.on
								border-color $blue
								background $blue
						&.o
							justify-content flex-start
							&:before
								border-bottom-width 0
								margin-bottom -( @width / 2 )

					.attention
						cursor pointer
						width 5ex
						height @width
						border 3px solid $darkgrey
						box-sizing border-box
						transform rotate(45deg)

						&.on
							display auto
							border-width 0
							background-color $yellow

							&.p
								animation pulse 1s infinite

						&.p:not(.on)
							opacity 0
							pointer-events none


					.waitingOn
						cursor pointer
						animation pulse 1s infinite
						width 5ex
						height @width
						border 3px solid $grey
						box-sizing border-box
						border-radius @width

						&.on
							border-width 0
							background-color $white

						&:not(.on)
						&.o
							animation none

					.tp
						width 100%
						flex 0 1 auto

						display flex
						flex-direction column
						align-items center
						justify-content space-between

						padding 1ex 1em
						margin 1ex 0

						cursor pointer

						color $lightgrey
						border 3px solid $grey
						border-radius 2ex

						text-align center

						&.canProceed
							color $blue
							border-color @color
						&.willProceed
							color $green
							border-color @color
						&.shouldProceed
							~/ .game.pTurn ^[2..-1]
								color $green
								border-color @color
								animation pulse 2s infinite

						.turn
							font-weight 100
							font-size 25px

						span
							font-size 35px

							&.phase
								font-size 20px



		.play
		.hand
		.disc
		.supp
			display flex
			flex-direction row-reverse
			justify-content center
			align-items center

			background $black

			transition background .2s, border-radius .2s

			&.o
				flex-direction row

		&.oTurn .o.play
		&.oTurn .o.supp
		&.oInitiative .o.hand
		&.oInitiative .o.user
		&.pTurn .p.play
		&.pTurn .p.supp
		&.pInitiative .p.hand
		&.pInitiative .p.user
			background $darkgrey

		.play
			border-radius 0 20px 20px 0

		&.pInitiative .p.play
			border-radius 0 10px 0px 0
		&.oInitiative .o.play
			border-radius 0 0px 20px 0

		.disc
			align-content center
			flex-wrap wrap

			for num in 1 2 3 4 5 6 7 8 9 10
				&.n{num} .card
					max-height (100%/num)
					max-width (100%/num)

		.deck
			cursor pointer

		.card
			flex 0 1 auto

			position relative

			display flex
			justify-content center
			align-items center

			max-width cardWidth
			max-height cardHeight

			cursor pointer

			transition filter .2s

			img
				max-width 100%
				max-height 100%
				width 225px

			img._
				display none

			.badges
				position absolute

				display flex
				justify-content center

				width 100%
				height 100%

			.number.badge
				position absolute

				pointer-events none
				opacity 0

				transform translate(0, -50%);

				&.show
				&:focus-within
					pointer-events auto
					opacity 1

				^[-2] .play .card.rightClicked .number.badge
					pointer-events auto
					opacity 1

					&.off
					&.def
						opacity 0

			.counters
				top 50%
				border-color white
				color white
				background-color #a6387a

				input
					background-color @background-color

			.damage
				top 22%
				color $white
				border-color @color

			.off
			.offAdjust
				left 4%
				top 70%

				color white
				border-color white
				background-color $offense

				input
					background-color @background-color

			.def
			.defAdjust
				right 4%
				top 70%

				color white
				border-color white
				background-color $defense

				input
					background-color @background-color

			.deploying
				position absolute
				top 31%

				width 20px
				height 20px

				background $lightgrey
				border-color $black
				border-width 1px

				opacity 0

				transition opacity .2s

				&.show
					opacity 1

			.revealed
				position absolute
				bottom 12.5px

				width 20px
				height 20px

				border-width 3px
				border-color $black
				background $white

				opacity 0

				transition opacity .2s

				&.show
					opacity 1

			&.expended
				max-width cardHeight

				._
					display block
					opacity 0

				img:not(._)
					position absolute
					transform rotate(-90deg)

					width auto
					height 314px

				.badges
					transform rotate(-90deg)

					width (225/314*100%)

					.number.badge
						transform translate(0, -50%) rotate(90deg)

			&.flipped
				img
					transform rotate(180deg)

				.badges
					transform rotate(180deg)

					.number.badge
						transform translate(0, -50%) rotate(-180deg)

			&.marked
				animation 1.4s pulse infinite

			&.selected
				filter brightness(1.5) contrast(.5)

		.hand
		.user
		.dd
			border 0px solid $grey

			&.o
				border-bottom-width 1px

			&.p
				border-top-width 1px

			transition border-color .2s
			../.oGold ^[-1..-1].o
			../.pGold ^[-1..-1].p
				border-color $yellow

	.spectate
		.gold
		.deck
		.tp
		.waitingOn
		.attention
			cursor auto !important
		.attention
			opacity 0 !important
		.waitingOn
		.tp
			animation none !important
		.tp
			color $grey !important
			border-color $grey !important

	.popup
		position absolute

		width 100%
		height 100%

		display flex
		align-items center
		justify-content center

		background #000000bb

		cursor pointer

		transition opacity .5s

		z-index 100

		&.hide
			opacity 0
			pointer-events none

.rightClick
	position absolute

	display flex
	flex-direction column

	z-index 1000

.rightClick span
	background $black
	color $white

	border 1px solid $grey

	padding 5px

	cursor pointer

	transition background .2s

	&:hover
		background $darkgrey

	&:not(:first-child)
		border-top none

	&.good
		color $good
	&.sage
		color $sage
	&.evil
		color $evil
	&.wild
		color $wild
