
.paper
	cardHeight = 20vh
	cardWidth = cardHeight / 1.395555555

	& input
	& button
		background-color $black
		border 2px solid $grey
		border-radius 7.5px
		text-align center
	
		color $lightgrey
		font-size 15px
	
		height 30px
		width 200px
	
		padding 3px
	
		transition color .2s, border .2s
		
		&.wrong
			border-color: $red
	
	& button
		cursor pointer
	
		font-size 17.5px
	
		&:hover
			color $white
			border-color $lightgrey

	& .chooseDeck
		display flex
		flex-direction column

		& button
			border-radius 0px 0px 10px 10px
			border-top-width 0px
		& input
			border-radius 10px 10px 0px 0px
	
	.game
		width 100vw
		height 100vh
		
		display flex
		
		.supps
			width cardWidth*2
			flex 0 0 auto

			display flex
			flex-direction column
			
			> div
				flex 1 0

				display flex
				flex-direction column

				.supp
					flex-grow 1

				.user
					height cardHeight
					
					display flex
					flex-direction column
					align-items center
					justify-content center

					.avatarGroup
						position relative
						
						display flex
						justify-content center
						
						width 178px
						max-width cardWidth

						.gold
						.health
							position absolute
							bottom 0px

							width 50px
							height 50px
							max-width cardWidth*(50/178)
							max-height cardWidth*(50/178)

							border 2px solid transparent
							border-radius 100%
							background $black

							display flex
							justify-content center
							align-items center

							font-size 25px

						.health
							right 0px

							border-color $green
							color $green

							font Roboto

						.gold
							cursor pointer

							left 0px

							border-color $yellow
							color $yellow

							transition border-color .2s, color .2s
							
							&[g="0"]
								border-color $grey
								color $grey
							&:before
								content attr(g)
						.avatar
							border-radius 100%
							width 128px
							height 128px

					.username
						color $white

		.main
			flex 1 1 0

			display flex
			flex-direction column

			.hand
				flex 0 0 auto

				height cardHeight
					
			.play
				flex 1 0

				& .card
				&.o .card.battle
					align-self flex-end

				&.o .card
				& .card.battle
					align-self flex-start



		.right
			width 2*cardWidth
			
			display flex
			flex-direction column

			.dd
				display flex
				
				min-height cardHeight
				max-height cardHeight

				flex 0 0

				.deck
				.disc
					width cardWidth
					flex 0 0 auto

					> :not(:first-child)
						display none

			.il
				flex 1 0 auto
				
				display flex
				
				> div
					flex 1 0 0

				.i
					display flex
					flex-direction column

					> .o
					> .p
						flex 0 0 auto
						height 200px

						display flex
						flex-direction column
						justify-content space-around
						align-items center

						&.o
							flex-direction column-reverse

						.initiative
						.waiting
							width 100px
							height 75px

							display flex
							justify-content center
							align-items center

							cursor pointer

							&:before
								content ""
								transition border-color .2s, background .2s

						.initiative:before
							border-radius 100%
							border 5px solid $grey
							width 50px
							height 50px

						.initiative.on:before
							border-color $blue
							background $blue

						.initiative.hideInitiative
							pointer-events none
							
							&:before
								opacity: 0

						.waiting:before
							width 35px
							height 35px
							border 5px solid $grey
							transform rotate(45deg)

						.waiting.on:before
							border-color $yellow
							background-color $yellow

						.waiting:not(.on)
							animation none

					.tp
						flex 1 0

						display flex
						flex-direction column
						justify-content center
						align-items center

						cursor pointer

						span
							color $white
							font-size 35px
							font-weight 100

							&.phase
								margin-top -5px
								font-size 25px


		.play
		.hand
		.deck
		.disc
		.supp
			display flex
			flex-direction row-reverse
			justify-content center
			align-items center

			&.o
				flex-direction row


		.card
			flex 0 1 auto

			position relative

			display flex
			justify-content center
			align-items center

			max-width cardWidth
			max-height cardHeight

			border 1px solid transparent

			transition border-color .2s

			img
				max-width 100%
				max-height 100%

			img._
				display none

			&.expended
				max-width cardHeight

				._
					display block
					opacity 0

				img:not(._)
					position absolute
					transform rotate(-90deg)

			&.flipped img
				transform rotate(180deg)

			&.marked
				border-color $white

		.hand
		.user
		.dd
			border 0px solid grey

			&.o
				border-bottom-width 2px

			&.p
				border-top-width 2px

	.rightClick
		position absolute
		
		display flex
		flex-direction column

	.rightClick span
		background $black
		color $white

		border 1px solid $grey

		padding 5px

		cursor pointer

		transition background .2s

		&:hover
			background $darkgrey

		&:not(:first-child)
			border-top none


